<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container-fluid">
    
    <div class="jumbotron" id="discoverJumbotron">
        <h2>{{ title }}</h2>
        <p>visible to only those with moderator/admin roles</p>
    </div>
</div>


<div ng-include="'components/footer/footer.html'"></div>


