<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Login</h1>
            <p>Accounts are reset on server restart from <code>server/config/seed.js</code>. Default account is <code>test@test.com</code> / <code>test</code>
            </p>
            <p>Admin account is <code>admin@admin.com</code> / <code>admin</code>
            </p>
        </div>
        <div class="col-sm-12">
            <form class="form" name="form" ng-submit="login(form)" novalidate>

                <div class="form-group">
                    <label>Username</label>
                    <input type="text" name="username" class="form-control" ng-model="user.username" required>
                </div>

                <div class="form-group">
                    <label>Password</label>
                    <input type="password" name="password" class="form-control" ng-model="user.password" required>
                </div>

                <div class="form-group has-error">
                    <p class="help-block" ng-show="form.username.$error.required && form.password.$error.required && submitted">
                        Please enter your username and password.
                    </p>
                    <p class="help-block" ng-show="form.username.$error.username && submitted">
                        Please enter your username.
                    </p>

                    <p class="help-block">{{ errors.other }}</p>
                </div>

                <div>
                    <button class="btn btn-primary btn-lg btn-login" type="submit">Login</button>
<!--                    <a class="btn btn-default btn-lg btn-register" href="/signup">Register</a>-->
                </div>
            </form>
        </div>
    </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
