<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container-fluid" ng-controller="CategoriesCtrl">
    
    <div class="jumbotron" id="categoriesJumbotron">
        <h2>{{ title }}</h2>
        <p>visible to only those with moderator/admin roles</p>
    </div>
    
    <div class="row">
        <div class="col-md-8">
            <table class="table table-condensed table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th><th>Value</th><th>Currently Used</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="category in categories">
                        <td>{{ category.name }}</td>
                        <td>{{ category.value }}</td>
                        <td>{{ category.used }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
</div>


<div ng-include="'components/footer/footer.html'"></div>


