<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Hang w/ Admin</a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a ng-hide="isLoggedIn()" ng-href="{{item.link}}">{{item.title}}</a>
        </li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/dashboard')}"><a href="/dashboard">Dashboard</a></li>
        <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}"><a href="/admin">Users</a></li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/categories')}"><a href="/categories">Categories</a></li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/discover')}"><a href="/discover">Discover</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
<!--        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}"><a href="/signup">Sign up</a></li>-->
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/login">Login</a></li>
        <li ng-show="isLoggedIn()">
            <p class="navbar-text">Hello, <strong>{{ getCurrentUser().name }}</strong> [ <strong>{{ getCurrentUser().role | uppercase }}</strong> ] </strong></p></li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}">
           <a href="/settings"><span class="glyphicon glyphicon-cog"></span></a>
        </li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
