<div ng-include="'components/navbar/navbar.html'"></div>

<!--
<header class="hero-unit" id="banner">
  <div class="container">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>
-->
<div class="container-fluid">
    
    <div class="jumbotron" id="dashboardJumbotron">
        <h2>{{ title }}</h2>
        <p>visible to only those with moderator/admin roles</p>
    </div>
</div>


<div ng-include="'components/footer/footer.html'"></div>


